<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario v2</title>
</head>
<body>
  <div class="Container-fluid">
      <header >
        <div class="titulo">
          <h1>Formulario</h1>
        </div> 
      </header>
      <br>
      <br>
      <div class=" container-fluid row">
        <div class="col-md-6"><!---->
          <form action="">

            <div class="md-3">
              <label for="" class="form-label">Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="Name" name="Name">
            </div>

            <br>

            <div class="md-3">
              <label for="" class="form-label">Edad</label>
              <input type="text" class="form-control" [(ngModel)]="edad" name="edad">
            </div>

            <br>

            <div class="md-3">
              <label for="" class="form-label">Cargo</label>
              <input type="text" class="form-control" [(ngModel)]="Carg" name="Carg">
            </div>

            <br>

            <div class="md-3">
              <label for="" class="form-label">Salario</label>
              <input type="text" class="form-control" [(ngModel)]="Salar" name="Salar">
            </div>
            <br>
            <div> 
              <button class="btn btn-primary" (click)="CrearEmpleado()"> Registrarse </button>
          </div>
        </form>
      </div>
        <div class="col-md-6">
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Cargo</th>
                <th scope="col">Salario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of Empleados; let y = index">
                <th scope="row">{{y + 1 }}</th>
                <td>{{i.Nombre}}</td>
                <td>{{i.edad}}</td>
                <td>{{i.cargo}}</td>
                <td>{{i.salario}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
  </div>
</body>
</html>